<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Send</title>
    
    <style>
        .submitButton{
            padding: 10px 25px;
	    	color: #fff;
		    border: none;
		    border-radius: 4px;
		    border-bottom: 4px solid rgb(17, 76, 165);
            background-color: rgb(21, 21, 124);
        }
        textarea{
            font-size: 15px;
            font-family:'Lucida Sans'
        }
    </style>

</head>
<body>
    
    <h2 style="font-family:'Arial'">SEND MESSAGE: </h2>
    <form method="post" action="/send" onsubmit="this.submitBtn.disabled = true; return true;"> 
        <table> 
            <tr>
                <td><textarea placeholder = "Type your message here ..." name="message" cols="52" rows="9"></textarea><br></td>
            </tr>
            <tr> 
                <td align="right"><input type="submit" value="Send" name="submitBtn" class = "submitButton" style="width: 250px; "></td>        
            </tr>
        </table>
    </form>

</body>
</html>